<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${longdate:cached=true}.log" layout="${longdate} | ${level:uppercase=true} | ${message:padding=-60} | ${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true} | ${onexception:inner=${exception:format=toString:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n}" archiveOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>